


	<div class="card bg-info px-5">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<img src="../img/blankImage.png" width="30" height="30" alt="">
				</div>
				<div class="col">
					<h2 class="card-title ml-1">
						Viajes el destino feliz
					</h2>
				</div>
				
			</div>
			
		</div>
	</div>

