<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<title>Viajes el destino feliz</title>
</head>
<body>
	<div class="container bg-primary pb-3 pt-3">
		<%-include('partials/encabezado.html')%>
	
		<div class="row mt-3 bg-light">
			<div class="col">
		
			<form action="" class="">
				<div class="ml-3 form-group row">
					<label for="numBoleto" class="col-sm-2 col-form-label">Num Boleto</label>
					<div class="col-sm-10">
					<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="numBoleto" name="numBoleto" value="<%=numBoleto%>" required>
					</div>
				</div>
				<div class="ml-3 form-group row">
					<label for="destino" class="col-sm-2 col-form-label">Destino</label>
					<div class="col-sm-10">
					<input type="text" style="width: 30rem; " class="form-control-plaintext border m-1 pr-1" id="destino" name="destino" value="<%=destino%>" required>
					</div>
				</div>
				<div class="ml-3 form-group row">
					<label for="nomCliente" class="col-sm-2 col-form-label">Nombre del cliente</label>
					<div class="col-sm-10">
					<input type="text" style="width: 30rem;" class="form-control-plaintext border m-1 pr-1" id="nomCliente" name="nomCliente" value="<%=nomCliente%>" required>
					</div>
				</div>
				<div class="ml-3 form-group row">
					<label for="años" class="col-sm-2 col-form-label">Años cumplidos</label>
					<div class="col-sm-10">
					<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="años" name="años" value="<%=años%>" required>
					</div>
				</div>
				<div class="ml-3 form-group row">
					<label for="tipo" class="col-sm-2 col-form-label">Tipo de Viaje</label>
					<div class="col-sm-10">
						<select style="width: 20rem;" class="form-control-plaintext border m-1 pr-1" id="tipo" name="tipo" value="<%=tipo%>">
							<option value="Tipo1">Sencillo</option>
							<option value="Tipo2">Doble</option>
						</select>
					</div>
				</div>
				
				<div class="ml-3 form-group row">
					<label for="precio" class="col-sm-2 col-form-label">Precio</label>
					<div class="col-sm-10">
						<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="precio" name="precio" value="<%=precio%>" required>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col m-2">
						<button type="submit">Calcular</button>
						<button type="reset" class="" id="limpiar" onclick="limpiar()">Limpiar</button>
					</div>
					<div class="col">

					</div>
					
				</div>
			</form>
			
			
			<% 
			
			if(tipo==="Tipo1"){
				var subtotal = 0;
				var impuesto = 0;
				var descuento = 0;
				var total = 0;
				var descuento = 0;

				

				subtotal = parseInt(precio, 10);
				impuesto = subtotal *.16;
				subtotalImpuesto = subtotal + impuesto;
				if(años >= 60){
					descuento = subtotalImpuesto * .50;
					//subtotal = subtotal * .50;
				}else{
					descuento = 0;
				}
				
				total = subtotalImpuesto - descuento;
			}else if(tipo==="Tipo2"){
				var subtotal = 0;
				var impuesto = 0;
				var descuento = 0;
				var total = 0;
				var descuento = 0;

				subtotal = parseInt(precio, 10);
				subtotal = subtotal+(subtotal*.80);
				impuesto = subtotal *.16;
				subtotalImpuesto = subtotal + impuesto;
				if(años >= 60){
					descuento = subtotalImpuesto * .5;
					//subtotal = subtotal * .50;
				}else{
					descuento = 0;
				}
				
				total = subtotalImpuesto - descuento;
			}
		%>

		

		

			<div class="form-horizontal form-group row">
					
					
						<div class="row ml-3">
							<div class="col m-2">
								<label for="subtotal">Subtotal</label>
							</div>
							
							<div class="col m-2">
								<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="subtotal" value="<%=subtotal%>" readonly>
									
								</input>
							</div>

							<div class="col"></div>
							
						</div>
						<div class="row ml-3">
							<div class="col m-2">
								<label for="impuesto">Impuesto</label>
							</div>
							
							<div class="col m-2">
								<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="impuesto" value="<%=impuesto%>" readonly>
								
								</input>
							</div>

							<div class="col"></div>
							
						</div>
						<div class="row ml-3">
							<div class="col m-2">
								<label for="descuento">Descuento</label>
							</div>
							
							<div class="col m-2">
								<input style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="descuento" value="<%=descuento%>" readonly>
								
								</input>
							</div>

							<div class="col"></div>
							
						</div>
						<div class="row ml-3">
							<div class="col m-2">
								<label for="total">Total</label>
							</div>
							
							<div class="col m-2">
								<input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="total" value="<%=total%>" readonly>
								
								</input>
							</div>

							<div class="col"></div>
							
						</div>
					
						
			</div>
		</div>
		</div>
		<br>

		<%

			function limpiar(){

				
				/*
				document.getElementById('numBoleto').setAttribute("value",0)=0;
				document.getElementById('destino').setAttribute("value","")="";
				document.getElementById('nomCliente').setAttribute("value","")="";
				document.getElementById('años').setAttribute("value",0)=0;
				document.getElementById('tipo').setAttribute("value",0)="";
				document.getElementById('precio').setAttribute("value",0)=0;

				subtotal = 0;
				impuesto = 0;
				descuento = 0;
				total = 0;
				descuento = 0;

				document.getElementById('subtotal').setAttribute("value",0)="";
				document.getElementById('impuesto').setAttribute("value",0)="";
				document.getElementById('descuento').setAttribute("value",0)=0;
				document.getElementById('total').setAttribute("value",0)="";
				*/

			}

		%>
		
		<%-include('partials/piePagina.html');%>
	</div>
</body>
</html>